body {
  height: 100vh;
  display: flex;
  width: 100vw;
}


.demo-side-nav {
  width: 15%;
  border-right: 1px solid var(--border);
  padding: 1rem;

  overflow: auto;

  .demo-links{
    display: flex;
    flex-direction: column;
    gap: 1rem;

    >a {
      text-decoration: none;
      color: var(--text);
    }

    >a:hover {
      text-decoration: underline;
    }
  }
}

.demo-content {
  display: flex;
  flex-direction: column;
  width: 85%;

  .demo-topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin-left: 1rem;
    border-bottom: 1px solid var(--border);
    border-left: 1px solid var(--border);
    border-bottom-left-radius: var(--border-radius);
  }
  
  .demo-body {
    margin-top: 1rem;
    margin-left: 1rem;
    padding: 1rem;
    border: 1px solid var(--border);
    border-top-left-radius: var(--border-radius);
    flex-grow: 1;
    overflow: auto;
  
    scroll-behavior: smooth;
  }
}

.demo-header {
  margin-top: 40px;
  font-weight: 700;
  font-size: 1rem;
}

.demo-topnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.demo-footer {
  padding-top: 5rem;
}

.demo-break {
  margin-top: 6rem;
}

.demo-code {
  display: block;
  margin-top: 1em;
  white-space: nowrap;
}

.form-example {
  margin-bottom: 0.66em;
}

.misc-components {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

#fuel {
  max-width: 600px;
  min-width: 200px;
}

audio {
  width: 100%;
}


.demo-popover-content {
  border: 1px solid var(--border);
  border-radius: 6px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.06);
  padding: 0.7rem;
}

.demo-article-footer {
  display: flex;
  justify-content: flex-end;
}
